In [13]:
#EXPERIMENT NUMBER 2: GETTING SCATTERED WITH PANDAS, PANDAS, DATA FRAME FUNCTOINS

import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [12]:
import pandas as pd
emp=pd.Series(['Sheebha','Shivani','Kavya','Karunya','Raziel','Roxanne'])
id=pd.Series([80,90,28,57,49,99])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\n Series to Data Frame: \n")
print(result)

 Series to Data Frame:

       Emp  ID
0  Sheebha  80
1  Shivani  90
2    Kavya  28
3  Karunya  57
4   Raziel  49
5  Roxanne  99

In [15]:
import pandas as pd
print("\n Extracting One Column : \n")
print(result['Emp'])

 Extracting One Column :

0    Sheebha
1    Shivani
2      Kavya
3    Karunya
4     Raziel
5    Roxanne
Name: Emp, dtype: object

In [18]:
print('\n Adding New Column : \n')
result['ID']=pd.Series([80,90,28,56,89,97])
result['Age']=pd.Series([29,30,31,33,28,24])
print(result)

 Adding New Column :

       Emp  ID  Age
0  Sheebha  80   29
1  Shivani  90   30
2    Kavya  28   31
3  Karunya  56   33
4   Raziel  89   28
5  Roxanne  97   24

In [19]:
print('\n Deleting New Column: \n')
del result['Age']
print(result)

 Deleting New Column:

       Emp  ID
0  Sheebha  80
1  Shivani  90
2    Kavya  28
3  Karunya  56
4   Raziel  89
5  Roxanne  97

In [20]:
print("\n Extracting The Second Row: \n")
print(result.loc[1])

 Extracting The Second Row:

Emp    Shivani
ID          90
Name: 1, dtype: object

In [21]:
print("\n Slicing rows :\n", result[1:4])

 Slicing rows :
        Emp  ID
1  Shivani  90
2    Kavya  28
3  Karunya  56

In [27]:
d2=pd.DataFrame([['Vicky',100],['Rashid',109]], columns=['Emp','ID'])
print("\n Adding new row: \n ")
print(pd.concat([result,d2]))

 Adding new row:

       Emp   ID
0  Sheebha   80
1  Shivani   90
2    Kavya   28
3  Karunya   56
4   Raziel   89
5  Roxanne   97
0    Vicky  100
1   Rashid  109

In [28]:
print("\n Deleting Particular row:\n", result.drop(2))

 Deleting Particular row:
        Emp  ID
0  Sheebha  80
1  Shivani  90
3  Karunya  56
4   Raziel  89
5  Roxanne  97