In [11]:
f=open("E:/data1.txt","w")
f.write("Ram\n")
f.write("Raj\n")
f.write("Rahul\n")
f.close
a=open("E:/data1.txt","r")
print(a.readline())
print(a.readline())
print(a.readline())
a.close()

b=open("E:/data1.txt","a")
b.write("Yuva \n")
b.write("Sri \n")
b.close


c=open("E:/data1.txt","r")
print(c.read())
c.close()

Ram

Raj

Rahul

Ram
Raj
Rahul
Yuva
Sri

In [13]:
with open("E:/data1.txt","r") as file:
    line=file.readlines()
    print(line)

['Ram\n', 'Raj\n', 'Rahul\n', 'Yuva \n', 'Sri \n']

In [17]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','e','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe with Nan\n",df)
print("/n")
print("Dropped Dataframe",df.dropna())
print("/n")

Original Dataframe with Nan
         one       two     three
a -1.311415  1.913703 -0.603846
b       NaN       NaN       NaN
c  0.745139  0.483717  1.787177
d       NaN       NaN       NaN
e -1.911461 -1.323290 -0.630479
f -2.096722  0.227587 -1.336385
/n
Dropped Dataframe         one       two     three
a -1.311415  1.913703 -0.603846
c  0.745139  0.483717  1.787177
e -1.911461 -1.323290 -0.630479
f -2.096722  0.227587 -1.336385
/n

In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("Original DataFrame:\n",df)
print("\n")
print("NaN replaced with 'O':\n")
print(df.fillna(0))

Original DataFrame:
         one       two     three
a -0.888177 -0.157267  1.620481
b       NaN       NaN       NaN
c  0.836356  0.504872 -1.500538


NaN replaced with 'O':

        one       two     three
a -0.888177 -0.157267  1.620481
b  0.000000  0.000000  0.000000
c  0.836356  0.504872 -1.500538

In [5]:
df=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,80,90,100]})
print("Original DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,30:3}))

Original DataFrame:
    one  two
0   10   60
1   20   70
2   30   80
3   40   90
4   50  100

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3   80
3   40   90
4   50  100

In [6]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three']) 
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\n NaN-with true fill:\n")
print(df['one'].isnull())

Original DataFrame:
         one       two     three
a -0.746085  0.974037 -0.126157
b       NaN       NaN       NaN
c -0.333416 -1.224800 -0.514848
d  0.193016 -0.593175 -0.989300
e       NaN       NaN       NaN
f -0.374838 -2.185736 -0.950909

 NaN-with true fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [7]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three']) 
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\n NaN-with Background values:\n")
print(df.fillna(method='bfill'))
print(df.ffill)
print(df.bfill)

Original DataFrame:
         one       two     three
a  0.496005 -0.477019 -0.114676
b       NaN       NaN       NaN
c -1.337746 -1.161775 -0.588863
d  0.908709  1.725884 -1.313025
e       NaN       NaN       NaN
f -0.142651 -0.922914 -0.711438

 NaN-with Background values:

        one       two     three
a  0.496005 -0.477019 -0.114676
b -1.337746 -1.161775 -0.588863
c -1.337746 -1.161775 -0.588863
d  0.908709  1.725884 -1.313025
e -0.142651 -0.922914 -0.711438
f -0.142651 -0.922914 -0.711438
<bound method DataFrame.ffill of         one       two     three
a  0.496005 -0.477019 -0.114676
b       NaN       NaN       NaN
c -1.337746 -1.161775 -0.588863
d  0.908709  1.725884 -1.313025
e       NaN       NaN       NaN
f -0.142651 -0.922914 -0.711438>
<bound method DataFrame.bfill of         one       two     three
a  0.496005 -0.477019 -0.114676
b       NaN       NaN       NaN
c -1.337746 -1.161775 -0.588863
d  0.908709  1.725884 -1.313025
e       NaN       NaN       NaN
f -0.142651 -0.922914 -0.711438>