In [4]:
import pandas as pd
#assign data
data={'Name':['Sai','Yuvasri','Poovannan','Sabhasri','Sanga','Rithika','Ruba'],'Age':[20,18,19,20,18,17,19],'Gender':['M','F','M','M','F','F','F'],'Marks':[98,65,74,67,88,92,90]}
df=pd.DataFrame(data)
print("Original Data Frame: \n",df)

Original Data Frame:
         Name  Age Gender  Marks
0        Sai   20      M     98
1    Yuvasri   18      F     65
2  Poovannan   19      M     74
3   Sabhasri   20      M     67
4      Sanga   18      F     88
5    Rithika   17      F     92
6       Ruba   19      F     90

In [ ]:
import pandas as pd
d1={
    "Name":["Sai","Suzie","Poo"],"Age":[20,21,22]
}
df